

ul{
    list-style-type: none;
}

.just-sec h1{
    margin-bottom: 50px;
}
.just-sec .fa{
    margin-left: auto;
}
.just-sec .tou{
    text-align: center;
}
.just-sec .tou i{
    margin-bottom: 20px;
    display: inline-block;
}
.just-sec .tou h4{
    margin-bottom: 30px;
}

.gongZ h1{
    margin-bottom: 50px;
}
.gongZ img{
    width: 425px;
    height: 311px;
}

.shi{
    margin-top: 100px;
}
.shi h1{
    margin-bottom: 50px;
}